//@theme "/usr/share/rofi/themes/Paper.rasi"
//@theme "/usr/share/rofi/themes/fancy.rasi"
//@theme "~/.config/rofi/themes/custom.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/home/alina/.config/rofi/themes/gruvbox-dark-blue.rasi"
@theme "/home/alina/.config/rofi/themes/gruvbox-dark-blue.rasi"
